@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-extrabold';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

p {
	color:#1b1b1b;
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-family: opensans;
} 

h2 {
	font-family: opensans;
	margin: 10px 0;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
}

img{
	display: block;
	margin: 0 auto;
}

.log{   
	background:#0e427e;
	background-size: cover;
	height: 340px;
	border-bottom: 2px solid #fdf300;
	img{
	width: 380px;
  	height: auto;
	}
}
 

.content {
	text-align: center;
	background:yellow;
	width: 500px;
	padding-bottom: 120px;
	border-top: none;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	margin: 0 auto;
	}
	



#login, #sign-up{
	select,input{
		border: 1px solid grey;
		width: 210px;
		height: 30px;
		padding-left: 15px;
		margin: 25px 0px;
	}

	fieldset{
		border: 0;
		border-top: 2px solid #000;
		position: relative;
		top: -12px;
		margin-top: 44px;
		legend{
			background: #fff;
			padding: 0px 8px 8px;
		}
	}
}

#login{
	border-top: 2px solid #000;
    	margin-top: 44px;
}

#list-item{
	input{
		border: 1px solid grey;
		width: 46px;
		height: 30px;
		display: block;
		position: relative;
		left: 174px;
		top: 21px;
	}
}

.construction{
	color: #000;
}

button{
	background: red;
	border: 1px solid #000;
	width: 100px;
	box-shadow: 6px 1px 11px #000;
	height: 33px;
	color: #fff;
	font-family: arial;
	font-size: 15px;
}

