<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Shopping List</title>
		<link href="../static/styles/style.css" rel="stylesheet">
	</head>
	<body>
		
<! Drop Down Menu For List >
		
		<div class="content">

<form id="list-item" name="list-item" method="">
<select name="List">
	{% for item in lists.keys()%}
					 <option value=" {{item}}">{{item}}</option>
				{% endfor %}



</select>
	
<br />
	<! Checklist that contains items that user wants to shop in a particular list >
<ul class="list">
				{% for item in lists.keys()%}
					<li><a class="item" href="/item/{{ item }}">{{ item }}</a><a class="side" href="/editlist">edit</a><a class="side" href="/delete_list/{{ item }}">delete</a></li>
				{% endfor %}
			</ul>
<div class="add">
               <p><a href="/add_list">Add List</a></p>
        </div>

		</div>

	</body>
</html>
