<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Shopping List</title>
		<link href="../static/styles/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="content">
<! Here I enclosed all the details one is supposed to fill in a fieldset >
			
<form id="sign-up" name="sign-up" method="POST">
<fieldset>
	<!On top of the fieldset i placed a legend >
<legend>Fill in the following details</legend>			
  <input type="text" placeholder="E-mail Address" name="email" required><br />
  <input type="name" placeholder="Name" name="name" required><br />
    <input type="password" placeholder="Password" name="password" required> <br /> 
<!For the Gender option i use a clickable Dropdown >
<!-- <select name="Gender">
  <option value="volvo">Male</option>
  <option value="saab">Female</option>
  <option value="mercedes">Other</option>
</select>> -->

<button type="submit">Sign Up</button>
</fieldset>
</form>
    <p>By creating an account you agree to our <a href="#">Terms & Conditions</a>.</p>
		</div>

	</body>
</html>
