@font-face {
  font-family: 'opensans';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans-semibold';
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans-extrabold';
  src: url("fonts/opensans-extrabold-webfont.eot");
  src: url("fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-extrabold-webfont.woff") format("woff"), url("fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

p {
  color: #1b1b1b;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: opensans; }

h2 {
  font-family: opensans;
  margin: 10px 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600; }

img {
  display: block;
  margin: 0 auto; }

.log {
  background: #0e427e;
  background-size: cover;
  height: 340px;
  border-bottom: 2px solid #fdf300; }
  .log img {
    width: 380px;
    height: auto; }

body {
  background: url(../images/shop.jpg) no-repeat;
  padding: 85px;
  height: -webkit-fill-available; }

.content {
  text-align: center;
  background: rgba(208, 209, 191, 0.4);
  width: 500px;
  padding-top: 22px;
  padding-bottom: 120px;
  border-top: 1px solid rgba(208, 209, 191, 0.4);
  border-right: 1px solid rgba(208, 209, 191, 0.4);
  border-left: 1px solid rgba(208, 209, 191, 0.4);
  border-bottom: 1px solid rgba(208, 209, 191, 0.4);
  margin: 0 auto; }

#login select, #login input, #sign-up select, #sign-up input {
  border: 1px solid grey;
  width: 210px;
  height: 30px;
  padding-left: 15px;
  margin: 25px 0px; }
#login fieldset, #sign-up fieldset {
  border: 0;
  border-top: 2px solid #000;
  position: relative;
  top: -12px;
  margin-top: 44px; }
  #login fieldset legend, #sign-up fieldset legend {
    background: #fff;
    padding: 0px 8px 8px; }

#list-item input {
  border: 1px solid grey;
  width: 46px;
  height: 30px;
  display: block;
  position: relative;
  left: 174px;
  top: 21px; }

.construction {
  color: #000; }

button {
  background: rgba(208, 209, 191, 0.7);
  border: 1px solid #000;
  width: 100px;
  box-shadow: 6px 1px 11px #000;
  height: 33px;
  color: #fff;
  font-family: arial;
  font-size: 15px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.side {
  background: red;
  color: black;
  padding: 5px 9px;
  font-family: opensans;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5px; }

.item {
  padding-right: 15px; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
